.main-panel{
    background-color: rgb(235, 245, 245);
}
.sidebar{
    background-color: rgb(6, 62, 99);
}
.sidebar-collapsed {
    width: 50px;
  
    .sidebar-menu-item {
      position: static;
    }
  
    .sidebar-item {
      i {
        margin-right: 0;
      }
      &-text,
      &-arrow {
        opacity: 0;
        width: 0;
        overflow: hidden;
      }
    }
  
    .txt-nav{
        display: none;
    }
  }