.form-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login-btn{
        margin-bottom: 10px;
        width: 10rem;
    }
   
}
.error-msg{
    color: red;
 }
 .p-inputgroup-addon{
    cursor: pointer;
 }
 .sign-in-with-microsoft{
    margin-top: 1rem;
    .pi-microsoft{
        margin-right: .3rem;
    }
}
.txt-or{
   text-align: center;
  margin: .3rem 0 0 0;
}